.search-section{
    margin-top:-70px;
    position:relative;
    z-index:20;
}

.search-box{

    background:white;

    border-radius:20px;

    box-shadow:0 20px 60px rgba(15,23,42,.12);

    padding:35px;

    display:grid;

    grid-template-columns:repeat(6,1fr);

    gap:20px;

    align-items:end;
}

.input-group{

    display:flex;

    flex-direction:column;
}

.input-group label{

    font-size:14px;

    font-weight:600;

    color:#334155;

    margin-bottom:10px;
}

.input-group input,
.input-group select{

    padding:14px 16px;

    border:1px solid #CBD5E1;

    border-radius:10px;

    outline:none;

    font-size:15px;

    transition:.3s;
}

.input-group input:focus,
.input-group select:focus{

    border-color:#2563EB;
}

.search-box button{

    height:52px;
}

@media(max-width:992px){

.search-box{

grid-template-columns:repeat(2,1fr);

}

}
@media(max-width:768px){

.search-section{

margin-top:40px;

}

.search-box{

grid-template-columns:1fr;

padding:25px;

}

.search-box button{

width:100%;

}

}